#####################
## Specific to ESLint
#####################

# Ignore all files (but still allow sub-folder scanning)
*
!*/

# Allow certain file types
!*.cjs
!*.js
!*.json
!*.mjs
!*.ts
!*.tsx

########################
## Same as in .gitignore
########################

# js
dist
node_modules

# misc
.DS_Store
.env.*.local
.env.local
.parcel-cache

#########################
## Shared between linters
#########################

.git/
pnpm-lock.yaml
