## extensions
*.*
LICENSE
!*.js
!*.json
!*.ts


## same as in .gitignore
# js
dist
node_modules

# misc
.DS_Store
.env.*.local
.env.local
.parcel-cache

# debug
lerna-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
