#######################
## Specific to Prettier
#######################

## Ignore all files (but still allow sub-folder scanning)
*
!*/

## Allow certain file types
!*.cjs
!*.js
!*.json
!*.md
!*.mjs
!*.ts
!*.tsx
!*.yaml
!*.yml

########################
## Same as in .gitignore
########################

## js
dist
node_modules

# misc
.DS_Store
.env.*.local
.env.local
.parcel-cache

# debug
lerna-debug.log*

#########################
## Shared between linters
#########################

.git/
pnpm-lock.yaml
