name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm
          node-version-file: .tool-versions

      - name: Install dependencies
        run: pnpm install

      - name: Build packages
        run: pnpm build

      - name: Load Prettier cache
        if: ${{ success() || failure() }}
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: prettier-${{ github.run_id }}
          path: node_modules/.cache/prettier
          restore-keys: |
            prettier-

      - name: Run all linters
        run: pnpm lint

  test:
    name: Test
    runs-on: ubuntu-24.04

    steps:
      - name: Check out repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup pnpm
        uses: pnpm/action-setup@v3

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: pnpm
          node-version-file: .tool-versions

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm test
